html, body, body.ng-scope {		
 padding: 5px;
 height: 100%;
 width: 100%;
 margin: 0;
 background: #212121;
 overflow: hidden;
 font-size: 12px;
}

/*Sidebar and search area styles*/

#spacer {
	height: 30px;
	width: 100%;
}

#logo {
	width: 80%;
	height: auto;
	margin-bottom: 10px;
}

#logo:hover {

}

.label {
	font-size: 1.2rem;
}

#searchBarContainer {
	width: 100%;
	position: absolute;
	top: 10px;
	left: 20%;
}

.less-form-style {
	margin: 0;
	margin-right: 20px;
	padding: 0;
	border: none;
}

.inputBox {
	border: none;
	width: 80%;
	background: #405053;
	margin: 0 auto 8px auto;
	color: #efe;
	border-bottom: 3px solid black;
	border-right: 1px solid black;
}

#searchBar {
	width: 180px;	
}

#sidebar {
	padding: 5px;
	box-sizing: border-box;
	height: 100%;
	width: 20%;
	order: 1;
	flex-grow: 1;
}

.loginPanel {
	border: none;
}

.cursor-hand {
	cursor: pointer;
}

.btn-orange {
	background: #f4753a;
	color: white;
	margin-right: 10px;
	transition: transform 100ms linear;
}

.btn-orange:hover {
	transform: scale(1.05);
	box-shadow: 2px 2px 2px 2px black;
	color: white;
}

.btn-search {
	height: 50%;
}

/*viewport styles*/
canvas {
	position: absolute;
	top: 5%;
	left: 20%;
	padding: 5px;
}

#main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}


#ui, #ui.ng-scope {
	top: 5%;
	order: 2;
	box-sizing: border-box
	flex-grow: 4;
	height: 100%;
	width: 80%;
	padding: 5px;
}

div > #viewPort {
	top: 5%;
	height: 95%;
	width: 95%;
	padding: 10px;
	margin: 10px;
}

.box {
    position: absolute; 
	border-radius: 12px;
	transform: scale(1);
	transition: transform 80ms linear;
}

.box:hover {
	-webkit-animation-duration: 80ms;
  animation-duration: 80ms;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
	transform: scale(1.32);
	border: 8px solid black !important;
	cursor: alias;
	z-index: 300!important;
}

.high-contrast-text {
	color: white;
}

#modal-container {
	display: flex;
	flex-direction: column;
	justifyContent: center;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 500;
}


#modal-mask {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	zIndex: 501;
}

#modal-internal-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#modal-expanded {
	display: flex;
	justify-content: center;
	padding: 20px;
 	position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #111111;
	border-radius: 5px;
	margin: 0 auto;
	width: auto;
	max-height: 80%;
	max-width: 80%;
	color: white;
	font-size: 20px;
	background: #212121;
	z-index: 502;
}

.animated-fast {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

#modal-image-container {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	width: auto;
	max-width: 80%;
	margin-left: 50px;
	margin-left: auto;
	margin-right: auto;
}

#modal-image {
	max-height: 100%;
	width: 100%;
	border-bottom: 5px;
}

.btn-close {
	position: absolute;
	top: 0%;
	left: 0%;
}

.vote-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	/* position: relative;
	top: 50%;
	transform: translateY(-50%); */
	min-height: 200px;
	max-height: 95%;
}

.vote-button {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	text-align: center;
}

.vote-button:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 2px 2px black;
	z-index: 501;
}

#upvote {
	background: #4CAF50;
	align-self: center;
	margin-bottom: 9px;
}

#downvote {
	background: #d32f2f;
	align-self: center;
}

.vote-count {
	font-family: sans-serif;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	line-height: 20px;
}

.tag {
	flex: none;
	padding: 1px 8px 1px;
	height: 3.5%;
	background: #f4753a;
	font-family: sans-serif;
	font-size: 1rem;
	color: white;
	border-radius: 30px;
	margin-right: 10px;
	transition: transform 100ms linear;
}

.tag:hover {
	transform: scale(1.05);
	box-shadow: 2px 2px 2px 2px black;
	color: white;
	cursor: pointer;
}