
<a href='#/home'><img id="logo" class="animated zoomIn"src="/img/fotoverse-logo-small.png"></img></a>

<div class="loginRegister animated fadeInLeft">
	<label class="label" for="username" ng-show="vm.register===true">Register<br /></label>

	<input ng-show="vm.register === true" id="username" class="inputBox" type="text" placeholder="User Name"/>
	<label class="label" for="email" ng-show="vm.register===false">Login<br /></label>
	<input class="inputBox" id="email" type="text" placeholder="email"/>
	<input class="inputBox" type="password" placeholder="password"/>
	<br />
	<a class="cursor-hand" ng-show="vm.register===false" ng-click="vm.register=true">Need to register?</a>
	<a class="cursor-hand" ng-show="vm.register===true" ng-click="vm.register=false">Already registered?</a>
</div>
<div>
	<button class="btn" ng-hide="true">Dashboard</button>
</div>

<div>
	<button class="btn" ng-hide="true">Sign Out</button>
</div>

<!--Search (top)-->
<div id="searchBarContainer" class="animated fadeInDown">
	<input id="searchBar" class="inputBox" type="text" placeholder="explore the fotoverse..."
</div>

<!-- Logo

Sign-up / Register (can switch between)
	-hide when signed in (ng-hide="$root.currentUser.username")

Dashboard
	-after signed in (ng-show="$root.currentUser.username")

Logout (bottom)
	-after signed in -->