
<a href='#/home'><img id="logo" class="animated zoomIn"src="/img/fotoverse-logo-small.png"></img></a>

<div class="loginRegister animated fadeInLeft">
	<form class="loginPanel" name="loginRegisterForm">
		<label class="label" for="username" ng-show="vm.register">Register<br /></label>

		<input ng-show="vm.register" id="username" class="inputBox" type="text" placeholder="User Name" ng-model="vm.userLoginInfo.username" name="username"/>
		<label class="label" for="email" ng-show="!vm.register">Login<br /></label>
		<input class="inputBox" id="email" type="text" placeholder="email" ng-model="
		vm.userLoginInfo.email" required name="email"/>
		<input class="inputBox" type="password" placeholder="password" ng-model="vm.userLoginInfo.password"required name="password"/>
		<br />
		<div ng-show="!vm.register">
			<button class="btn btn-orange" ng-click="vm.login(vm.userLoginInfo)">Login</button ng-disabled="!vm.userLoginInfo.username || !vm.userLoginInfo.password">
			<a class="cursor-hand" ng-show="!vm.register" ng-click="vm.register=true">Need to register?</a>
		</div>
		<div ng-show="vm.register">
			<button class="btn btn-orange" ng-click="vm.signup(vm.userLoginInfo)">Register</button>
			<a class="cursor-hand" ng-show="vm.register" ng-click="vm.register=false">Already registered?</a>
		</div>
	</form>
</div>


<div>
	<button class="btn" ng-hide="true">Dashboard</button>
</div>

<div>
	<button class="btn" ng-hide="true">Sign Out</button>
</div>

<!--Search (top)-->
<div id="searchBarContainer" class="animated fadeInDown">
		<input id="searchBar" class="inputBox" type="search" placeholder="explore the fotoverse..." />
</div>

<!-- Logo

Sign-up / Register (can switch between)
	-hide when signed in (ng-hide="$root.currentUser.username")

Dashboard
	-after signed in (ng-show="$root.currentUser.username")

Logout (bottom)
	-after signed in -->