{{vm.test}}
<div>
<h1> welcome {{vm.app.email}}</h1>
</div>

<div>
	<h2>my name is {{vm.app.username}}</h2>	
</div>

<div>
	<button class='btn btn-submit' ng-click='vm.logout()'>logout</button>
</div>


<form role="form" class="loginform">
<div class="form-group input-group">
                
                <input type="text" class="form-control" placeholder="tags" ng-model="tagInput">
          </div>

          <button type="button" class="btn btn-danger btn-md login" ng-click='vm.tagSearch(tagInput)'>submit</button>
        </form>

        <a href='#/upload' class="btn btn-warning">Upload a picture!</a>

<div class='container'>
	<div class='row'>
		<div class="col-lg-2 col-sm-3 col-xs-4" ng-repeat='pics in vm.pictures'>
              <img src={{pics.imageUrl}} class="thumbnail img-responsive">
             <p ng-repeat='tag in pics.tags | filter:search'> {{pics.upvotes}} {{tag.title}} </p>
        </div>
    </div>
</div>        

<div class='container'>
  <div class='row'>
    <div class="col-lg-2 col-sm-3 col-xs-4" ng-repeat='stuff in vm.userPictures'>
              <img src={{stuff.imageUrl}} class="thumbnail img-responsive">
             <p ng-repeat='tag in stuff.tags | filter:search'> {{stuff.upvotes}} {{tag.title}}  {{stuff.owner.username}}</p>
        </div>
    </div>
</div>    


<!-- <div class="col-lg-2 col-sm-3 col-xs-4" ng-repeat='pics in vm.pictures'>
             <img src={{pics.imageUrl}} class="thumbnail img-responsive">
             <p ng-repeat='tag in pics.tags | filter:search'> {{pics.upvotes}} {{tag.title}} </p>
             
    </div> -->