{{vm.test}}
<div>
<h1> welcome {{vm.app.email}}</h1>
</div>

<div>
	<h2>my name is {{vm.app.username}}</h2>	
</div>

<div>
	<button class='btn btn-submit' ng-click='vm.logout()'>logout</button>
</div>

<div class='container'>
 <div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-4" ng-repeat='pics in vm.pictures'>
             <img src={{pics.imageUrl}} class="thumbnail img-responsive">
    </div>
</div>

<div>
	<img src='http://media.giphy.com/media/Qf9SNhYtaC4aQ/giphy.gif' width=50%>
</div>

