Homepage view

<div class="row">
	<div class="col-md-9 text-center">
	<img src="images/temp/wire.png" width="85%">
	</div>

	<div class="col-md-3" style=";border-left: 1px solid #ededed;">
		
		<div>
		<h3 style="font-family: 'Oswald', serif;
	font-size: 28px;font-style: italic;">Trending Now</h3>
		<ul>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			<li>test</li>
		</ul>

		<h3 style="font-family: 'Oswald', serif;
	font-size: 28px;font-style: italic;">Recently Added</h3>
		<ul>
			<li>test</li>
			<li>test</li>
			<li>test</li>
		</ul>
	</div>


	</div>
</div>